# Executable files
*.EXE
*.exe
*.DLL
*.dll

# Video files
*.MP4
*.mp4
*.MKV
*.mkv
*.TS
*.ts
*.AVI
*.avi
*.WMV
*.wmv
*.FLV
*.flv
*.RMVB
*.rmvb
*.RM
*.rm
*.VOB
*.vob
*.MPG
*.mpg
*.MPEG
*.mpeg
*.3GP
*.3gp
*.M4V
*.m4v
*.F4V
*.f4v
*.MOV
*.mov
*.WEBM
*.webm

# Image files
*.JPG
*.jpg
*.JPEG
*.jpeg
*.PNG
*.png
*.WEBP
*.webp
*.BMP
*.bmp
*.GIF
*.gif
*.TIF
*.tif
*.TIFF
*.tiff
*.HEIC
*.heic
*.HEIF
*.heif
*.AVIF
*.avif
*.ICO
*.ico
*.JFIF
*.jfif

# Audio files
*.MP3
*.mp3
*.M4A
*.m4a
*.FLAC
*.flac
*.AAC
*.aac
*.OGG
*.ogg
*.OPUS
*.opus
*.WAV
*.wav
*.WMA
*.wma
*.ALAC
*.alac

# Subtitle files
*.SRT
*.srt
*.ASS
*.ass
*.SSA
*.ssa
*.VTT
*.vtt
*.SUB
*.sub

# Archive files
*.7Z
*.7z
*.ZIP
*.zip
*.RAR
*.rar
*.TAR
*.tar
*.GZ
*.gz
*.BZ2
*.bz2
*.XZ
*.xz
*.TGZ
*.tgz
*.TBZ2
*.tbz2

# Temp Files
*.LOG
*.log
*.TXT
*.txt
*.JSON
*.json
