# Executable files
/media/_internal
/media/Plugin
/media/*.EXE
/media/*.exe
/media/*.DLL
/media/*.dll

# Video files
/media/*.MP4
/media/*.mp4
/media/*.MKV
/media/*.mkv
/media/*.TS
/media/*.ts
/media/*.AVI
/media/*.avi
/media/*.WMV
/media/*.wmv
/media/*.FLV
/media/*.flv
/media/*.RMVB
/media/*.rmvb
/media/*.RM
/media/*.rm
/media/*.VOB
/media/*.vob
/media/*.MPG
/media/*.mpg
/media/*.MPEG
/media/*.mpeg
/media/*.3GP
/media/*.3gp
/media/*.M4V
/media/*.m4v
/media/*.F4V
/media/*.f4v
/media/*.MOV
/media/*.mov
/media/*.WEBM
/media/*.webm

# Temp Files
/media/*.JSON
/media/*.json
/media/*.TXT
/media/*.txt
